<!-- Slide Menu-->



<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}" (click)="$event.stopImmediatePropagation();">

    <section class="menu-header">
    </section>

    <section class="menu-body">
    <app-login></app-login>
      <!--      <div class="profile-image__container">-->
      <!--        <img src=" <tu można wstawić link do zdjęcia profilowego" alt="profile-image"-->
      <!--             class="profile__image">-->
      <!--      </div>-->
      <!--      <div class="account-details">-->
      <!--        <span class="name__text">[pobierz imię]</span>-->
      <!--        <span class="email__text">[pobierz email]</span>-->
      <!--      </div>-->
    </section>

  </nav>
</aside>

<div class="root__container">
  <header class="main__header">

    <div>
      <svg (click)="toggleMenu()" class="hamburger__icon" id="Menu_Burger_Icon" data-name="Menu Burger Icon"></svg>
      <svg class="logo__icon" viewBox="150 22 500 42">
        <text class="logo__text" font-size="30" font-weight="600" letter-spacing=".1em" transform="translate(237 56)">
          <tspan x="0" y="0">Bolter Cafe Table Booker</tspan>
        </text>
      </svg>
    </div>

  </header>

  <main class="main__container">
    <div class="main-container__bg"></div>
    <router-outlet></router-outlet>
  </main>

  <footer class="main__footer">
    <small class="copyright__text">Created by:<br>Jakub Golec, Anna Drożdż & Kasia Muszyńska</small>
  </footer>

</div>
