
<div class="modal-header">
  <h4 class="modal-title">Rezerwacja stolika</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">


<h3>Lista rezerwacji</h3>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Początek</th>
    <th scope="col">Koniec</th>
    <th scope="col">Gra</th>
    <th scope="col">Zarezerwowane przez</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bigTableReservation of allReservations" ng-click="">
    <td>{{ bigTableReservation.id}}</td>
    <td>{{ bigTableReservation.startDate | date:"dd/MM/yyyy H:mm"}}</td>
    <td>{{ bigTableReservation.endDate | date:"dd/MM/yyyy H:mm"}}</td>
    <td>{{ bigTableReservation.game.name}}</td>
    <td>{{ bigTableReservation.user.nick}}</td>
  </tr>
  </tbody>
</table>


  <p>
    <button class="btn btn-lg btn-outline-primary" (click)="open()">Zarezerwuj</button>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Zamknij</button>
</div>

